:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-light: #aaa;
  --color-accents: #ffcc00;
  --main-font: 'Nunito', sans-serif;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), 
    url('../assets/fonts/Nunito-Regular.woff2') format('woff2'),
    url('../assets/fonts/Nunito-Regular.woff') format('woff'),
    url('../assets/fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Nunito Bold'), local('Nunito-Bold'), 
    url('../assets/fonts/Nunito-Bold.woff2') format('woff2'),
    url('../assets/fonts/Nunito-Bold.woff') format('woff'),
    url('../assets/fonts/Nunito-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
}

body[data-overlay]:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  /*
  Fallback:
  */
  background-color: #000;
  background-color: rgba(0,0,0,0.5);
}

body[data-overlay] {
  overflow: hidden;
}

h1, h2, h3, h4 {
  margin: 0;
}

.separator {
  margin: 1rem 0;
  border-radius: 5px;
  display: flex;
  padding: 0.6rem 0.2rem;
  background-color: var(--color-primary);
  align-items: center;
  justify-content: center;
}

.separator hr {
  width: 10%;
  height: 0.6rem;
  border: none;
  background-color: var(--color-secondary);
}

.project-title {
  margin-top: 1rem;
  font-size: 4rem;
  text-align: right;
  font-weight: bolder;
  border-bottom: 0.5rem double var(--color-primary);
  color: var(--color-primary);
  padding-bottom: 0.7rem;
  text-align: right;
}

.project-subtitle {
  font-size: 2.2rem;
  font-style: italic;
  margin-top: 0.5rem;
}

header {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

main, header, footer {
  padding: 0.5rem;
}

.hero main {
  height: 80vh;
}

.flex-center, .image-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  border-top: 6px solid #000;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 400px;
}

.hero hr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: var(--color-primary);
  margin: 0;
}

.main-title, .name-title {
  text-align: center;
  margin-bottom: 0.8rem;
}

.main-title {
  font-size: 1.4rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: serif;
  padding: 0.7rem;
  line-height: 2.2rem;
  opacity: 0;
  animation: opacity 1s ease-in-out 0.7s forwards;
}

.name-title {
  margin-top: 0.5rem;
  padding-bottom: 0.4rem;
  font-size: 1.55rem;
  border-bottom: 2px solid var(--color-primary);
  animation: translate-and-opacity 0.7s forwards ease-in-out;
}

.social {
  margin-top: 2.35rem;
  padding: 0.45rem;
  border: 2px solid var(--color-primary);
  display: none;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0;
  animation: opacity 1s ease-in-out 0.7s forwards;
}

.social a, .social img {
  display: block;
}

.social a:hover {
  opacity: 0.75;
}

.image-grid {
  height: 75%;
  display: flex; 
  flex-direction: column;
  opacity: 0;
  animation: opacity 0.7s ease-in-out 1.4s forwards;
}

.image-row {
  height: 25%;
}

.image-row img {
  height: 100%;
}

.scroll-down {
  display: block;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border: 6px solid #fff;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 4px 4px #000;
  z-index: 50;
}

.scroll-down:active, .scroll-down:focus {
  outline: 5px solid #ffcc00;
}

.scroll-down:active svg, 
.scroll-down:focus svg, 
.scroll-down:hover svg {
  animation: scroll-down 0.7s ease-in-out infinite;  
}

.scroll-down span {
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.menu-page {
  min-height: 100vh;
}

.menu, .menu ul {
  background-color: transparent;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu > li > ul {
  padding-left: 1.2rem;
  margin-bottom: 1.4rem;
}

.menu .btn {
  margin-bottom: 0.9rem;
  margin-top: 0.3rem;
}

.submenu {
  font-size: 1.2rem;
}

.submenu a {
  color: var(--color-primary);
  transition: all 0.6s;
}

.submenu a:hover {
  color: var(--color-light);
  text-decoration: none;
}

.menu-item-big,
.menu-item-subsection {
  display: block;
  text-decoration: none;
  color: var(--color-primary);
}

.menu-item-big {
  font-size: 2rem;
  color: var(--color-primary);
  border-bottom: 3px solid var(--color-primary);
  margin-bottom: 1rem;
  padding: 0 0 0 0.3rem;
  font-weight: bold;
}

.menu-item-subsection {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px dashed var(--color-light);
}

.menu-item-subsection:hover {
  color: var(--color-light);
}

.menu-item-subsection > img {
  padding-right: 0.35rem;
  height: 22px;
  width: 22px;
}

.toggle {
  cursor: pointer;
}

.toggle + input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}

input[type="checkbox"]:checked~.collapsible {
  max-height: 100vh;
  padding-bottom: 1rem;
}

.collapsible {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.btn {
  display: inline-block;
  font-family: var(--main-font);
  border-radius: 5%;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.3rem 0.7rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  transition: 0.2s ease-out;
}

.btn:active, .btn:focus, .btn:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.btn:active, .btn:focus {
  border: 2px solid var(--color-light);
}

.btn:hover {
  border: 2px solid var(--color-secondary);
}

.menu-dynamic {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 90;
}

.d-none {
  display: none;
}

.menu-dynamic .menu {
  transform: translateX(100%);
  transition: transform 1s cubic-bezier(0.86, 0.01, 0.77, 0.78);
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.menu-dynamic.show .menu {
  position: relative;
  transform: translateX(0);
}

.menu-dynamic .menu nav {
  background-color: var(--color-secondary);
  padding: 1.4rem 1.2rem 1rem 1.2rem;
  overflow-y: auto;
  height: 100%;
  box-shadow: -2px 0px 4px rgba(0,0,0,0.5);
}

.two-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1.2rem;
  column-gap: 2.2rem;
}

@keyframes scroll-down {
  0% { transform: translateY(0px); }
  50% { transform: translateY(4px); }
  100% { transform: translateY(0px); }
}

@keyframes translate-and-opacity {
  0% {
    transform: translateY(-16px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes translate-right {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

@media (min-width: 900px) {

  .hero {
    border-top: 20px solid #000;
  }

  .hero main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .name-title {
    margin-bottom: 2.42rem;
    font-size: 2.4rem;
  }

  .main-title {
    font-size: 1.8rem;
  }

  .scroll-down {
    width: 160px;
    height: 160px;
    bottom: 55px;
  }

  .scroll-down span {
    font-size: 32px;
  }

  .hero hr {
    height: 15%;
  }

  .social {
    display: flex;
  }

  .menu-page {
    border-left: 10vw solid #000;
    border-right: 10vw solid #000;
  }

}