* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.image-grid {
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image-grid > * {
  width: 100%;
}